# Shopee credentials
SHOPEE_USERNAME=your_phone_or_email
SHOPEE_PASSWORD=your_password

# Supabase
SUPABASE_DB_PASSWORD=your_supabase_db_password

# Keepa credentials
KEEPA_USERNAME=your_keepa_email
KEEPA_PASSWORD=your_keepa_password
